# IntelliJ IDEA
.idea/

# Compiled files
*.class

# Build output
/out/

# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle specific
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Paper specific
plugins/
paperclip.jar
paper.jar
patched_*.jar
spigot-api*.jar
work/
last_run_plugin.log

# Logs
logs/
*.log

# Caches
*.cache
*.captures

